<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Registro</title>
    <link rel="stylesheet" href="CSS/detallesLudoteca.css">
    <script src="js/detalles.js" defer></script>
</head>
<body>
    <header>
        <div class="header-left">
            <img class="return" src="images/flecha.png" alt="Regresar" onclick="goBack()">
            <img class="ludoheader" src="images/ludoteca_header.png" alt="Ludoteca Header">
            <h2 id="folio-title" data-folio="{{folio}}">{{folio1}}</h2>
        </div>
    </header>
    
    <main class="detalle">
        <div class="datos">
            <div class="detalle-header">
                <div class="detalle-info">
                    <div><strong>Nombre del infante:</strong>{{infante}}</div>
                    <div><strong>Sexo:</strong>{{sexo}}</div>
                    <div><strong>Edad:</strong>{{edad}}</div>
                </div>
            </div>
            <div class="detalle-responsable">
                <div class="detalle-info">
                    <div><strong>Nombre del responsable:</strong> {{tutor}}</div>
                    <div><strong>Parentesco:</strong> {{parentesco}}</div>
                    <div><strong>Área de visita:</strong> {{area}}</div>
                    <div><strong>Teléfono:</strong> {{contacto1}}</div>
                    <div><strong>Teléfono de emergencia:</strong> {{contacto2}}</div>
                    <div><strong>Fecha y hora de entrada:</strong> {{entrada}}</div>
                    <div><strong>Fecha y hora de salida:</strong> {{salida}}</div>
                    <div><strong>Status</strong> {{status}}</div>
                    <div class="buttondiv">
                        <button class="terminar-btn" onclick="terminarEstancia()">{{boton_terminar}}</button>
                    </div>
                </div>  
            </div>
        </div>
        
        <div class="fotosdiv">
            <div class="imageninfante">
                <img src="{{img_infante}}" alt="Infante y responsable" onclick="openModal(this)">
            </div>
            <div class="ine">
                <img src="{{img_ine_delantera}}" alt="ID frontal" onclick="openModal(this)">
            </div>
            <div class="ine_back">
                <img src="{{img_ine_trasera}}" alt="ID trasero" onclick="openModal(this)">
            </div>
        </div>
    </main>

    <!-- Modal -->
    <div id="modal" class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <img class="modal-content" id="modal-img">
    </div>
</body>
</html>
