<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludoteca - Registros</title>
    <link rel="stylesheet" href="CSS/ludoteca.css">
    <script src="js/ludoteca.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

</head>
<body>
    
    <header>
        <img src="images/ludoteca_header.png" alt="Logo Complejo Gubernamental">
        <img src="images/ludoteca_footer.png" alt="Footer Ludoteca">
        
    </header>

    <!-- Barra de navegación -->
    <nav class="navbar">
        <div class="navbar-item">
            <button id="generarReporteButton">Generar Reporte</button>
        </div>
    </nav>

    <main>
        <div class="registros" id="registros">
            <!-- Aquí se mostrarán los registros dinámicamente -->
        </div>
    </main>

    <footer>
        
        <p>&copy; <span id="current-year"></span> Centro de Conciliación Laboral del Estado de Jalisco. Todos los derechos reservados.</p>
    </footer>
</body>

<script>
  document.getElementById("current-year").textContent = new Date().getFullYear();
</script>
</html>
